<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySistemaCatalogoInternoLabel" jhiTranslate="safeosmsv2App.sistemaCatalogoInterno.home.createOrEditLabel">Create or edit a Sistema Catalogo Interno</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sistemaCatalogoInterno.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sistemaCatalogoInterno.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safeosmsv2App.sistemaCatalogoInterno.catalogoInternoTbl" for="field_catalogoInternoTbl">Catalogo Interno Tbl</label>
            <input type="text" class="form-control" name="catalogoInternoTbl" id="field_catalogoInternoTbl"
                [(ngModel)]="sistemaCatalogoInterno.catalogoInternoTbl" maxlength="80"/>
            <div [hidden]="!(editForm.controls.catalogoInternoTbl?.dirty && editForm.controls.catalogoInternoTbl?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.catalogoInternoTbl?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safeosmsv2App.sistemaCatalogoInterno.catalogoInternoNom" for="field_catalogoInternoNom">Catalogo Interno Nom</label>
            <input type="text" class="form-control" name="catalogoInternoNom" id="field_catalogoInternoNom"
                [(ngModel)]="sistemaCatalogoInterno.catalogoInternoNom" maxlength="80"/>
            <div [hidden]="!(editForm.controls.catalogoInternoNom?.dirty && editForm.controls.catalogoInternoNom?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.catalogoInternoNom?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safeosmsv2App.sistemaCatalogoInterno.catalogoInternoVal" for="field_catalogoInternoVal">Catalogo Interno Val</label>
            <input type="text" class="form-control" name="catalogoInternoVal" id="field_catalogoInternoVal"
                [(ngModel)]="sistemaCatalogoInterno.catalogoInternoVal" maxlength="100"/>
            <div [hidden]="!(editForm.controls.catalogoInternoVal?.dirty && editForm.controls.catalogoInternoVal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.catalogoInternoVal?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safeosmsv2App.sistemaCatalogoInterno.estatus" for="field_estatus" [ngbTooltip]="'safeosmsv2App.sistemaCatalogoInterno.help.estatus' | translate">Estatus</label>
            <input type="number" class="form-control" name="estatus" id="field_estatus"
                [(ngModel)]="sistemaCatalogoInterno.estatus" max="9"/>
            <div [hidden]="!(editForm.controls.estatus?.dirty && editForm.controls.estatus?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.estatus?.errors?.max" jhiTranslate="entity.validation.max" translateValues="{ max: 9 }">
                    This field cannot be more than 9.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.estatus?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
