<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySistemaProductosTiposLabel" jhiTranslate="safeosmsv2App.sistemaProductosTipos.home.createOrEditLabel">Create or edit a Sistema Productos Tipos</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!sistemaProductosTipos.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="sistemaProductosTipos.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safeosmsv2App.sistemaProductosTipos.lenguajeID" for="field_lenguajeID">Lenguaje ID</label>
            <input type="text" class="form-control" name="lenguajeID" id="field_lenguajeID"
                [(ngModel)]="sistemaProductosTipos.lenguajeID" maxlength="30"/>
            <div [hidden]="!(editForm.controls.lenguajeID?.dirty && editForm.controls.lenguajeID?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lenguajeID?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 30 }">
                   This field cannot be longer than 30 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="safeosmsv2App.sistemaProductosTipos.lenguajeVal" for="field_lenguajeVal">Lenguaje Val</label>
            <input type="text" class="form-control" name="lenguajeVal" id="field_lenguajeVal"
                [(ngModel)]="sistemaProductosTipos.lenguajeVal" maxlength="80"/>
            <div [hidden]="!(editForm.controls.lenguajeVal?.dirty && editForm.controls.lenguajeVal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lenguajeVal?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
