
<div *ngIf="sistemaLenguaje">
    <h2><span jhiTranslate="safeosmsv2App.sistemaLenguaje.detail.title">Sistema Lenguaje</span> {{sistemaLenguaje.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="safeosmsv2App.sistemaLenguaje.lenguajeID">Lenguaje ID</span></dt>
        <dd>
            <span>{{sistemaLenguaje.lenguajeID}}</span>
        </dd>
        <dt><span jhiTranslate="safeosmsv2App.sistemaLenguaje.lenguajeVal">Lenguaje Val</span></dt>
        <dd>
            <span>{{sistemaLenguaje.lenguajeVal}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sistema-lenguaje-safeosms/'+ sistemaLenguaje.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
